$width: 1176px;

.todo {
  &_Container {
    padding: 42px;

    /* Neutral/400 */

    background: #f8f9fa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    @apply w-11/12 md:w-10/12 lg:w-8/12 xl:w-[73rem];


    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      align-items: center;
      letter-spacing: 0.08em;
      margin-bottom: 15px;

      /* Neutral/100 */

      color: #000000;
    }

    .description {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 40px;
      /* identical to box height, or 26px */

      display: flex;
      align-items: center;
      letter-spacing: 0.04em;

      /* Neutral/100 */

      color: #000000;
    }
  }

  &_Details {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    /* Neutral/200 */

    color: #313131;
    @apply text-left;
  }
}

.backSection {
  @apply text-right;
  @apply w-11/12 md:w-10/12 lg:w-8/12 xl:w-[73rem];

  .button {
    padding: 10px;
    margin-top: 36px;
    width: 139px;
    height: 45px;
    background: #1695bd;
    border-radius: 16px;

    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.08em;
    @apply text-white;
  }
}
